.welcome{
    background: url('../../assets/img/welcome-back.png') no-repeat center top; 
     background-size: cover; 
     height:100vh; 
     text-align: center;    
}
img{
    margin: 50px;
}
.regBtn, .logBtn {
    width: 70%;
    margin-top:30px;

}
p{
    color:white;
    font-family: 'poppin';
    font-size: 19px;
    margin-top:30px;
}
h2{
    color:yellow;
    margin:30px;
}