<ion-content  fullscreen>
  <div class="welcome">
      <img src="../../assets/img/welcome-logo.png" >
      <h2>WELCOME !</h2>
    <div >
        <ion-button class="regBtn" shape="round" fill="outline" size="large" color="light" (click)="register()">SIGN UP</ion-button>
    </div>
    <div >
        <ion-button class="logBtn" shape="round" fill="outline" size="large" color="light" (click)="login()">LOGIN</ion-button>
    </div>
    
      <p>Digitalize Shopping Everywhere</p>
 
  </div>

</ion-content>
