body{
    font-family: "roboto-light";
}
.category ion-img{
    width:85px;
}
h4{
    font-family: "roboto-regular";
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    color: orange;
}
ion-item{
    font-size: 14px;
}
ion-col{
    text-align: center;
    font-family: "courgette";
}
ion-row{
    border-top: 1px solid lightgray;
}